.navbar {
    margin-bottom: 0px!important;
}

.col-md-3 {
    padding-top: 15px;
    background-color: #e9e9e9;
}

.list-group-flush li {
    background-color: #e9e9e9;
}

.list-group-flush .active2 {
    background-color: #e9e9e9;
    color: red;
    font-weight: bold;
}

#destaques .view .mask {
    top: auto;
    height: 35%;
}

.infContato {
    padding-bottom: 0!important;
    margin-bottom: 0!important;
    color: #777;
}

.row {
    margin: 0px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

@media(max-width: 500px) {
    .dadosContato {
        display: grid!important;
        justify-content: normal!important;
    }
}